.bundlePreview {
  @include rem('padding', 1px);
  @include rem('border-radius', $bundleBorderRadiusPx);
  background-color: $brandingColor1;
  box-shadow: $bundleBoxShadow;

  &:hover {
    box-shadow: $bundleBoxShadowHover;
  }
}

.imageLink {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.imagePlaceholder {
  background-color: $brandingColor12;
}

.textContainer {
  @include remValues('padding', 8px, 8px, 12px, 8px);
}

$normalHeight: 66px;
$narrowHeight: 88px;

.titleContainer {
  @include rem('height', $normalHeight);

  @include mobileBreakpoint {
    @include rem('height', $narrowHeight);
  }

  @include narrowDesktopBreakpoint {
    @include rem('height', $normalHeight);
  }
}

.title {
  @include rem('max-height', $normalHeight);
  overflow: hidden;
  @include previewTitleFont;

  @include mobileBreakpoint {
    @include rem('max-height', $narrowHeight);
  }

  @include narrowDesktopBreakpoint {
    @include rem('max-height', $normalHeight);
  }

  &:hover {
    color: $brandingColor4;
  }
}

.price {
  @include rem('margin-top', 8px);
  color: $brandingColor7;
  @include previewSecondaryContentFont;
  text-align: center;
}

.subtitleContainer {
  position: absolute;
  width: 100%;
  top: 25%;
  @include previewTitleFont;
  text-align: center;

  @include tabletBreakpoint {
    top: 30%;
  }

  @include narrowDesktopBreakpoint {
    top: 25%;
  }
}

.subtitle {
  @include remValues('padding', 4px, 8px, 4px, 8px);
  @include rem('border-radius', $bundleBorderRadiusPx);
  background-color: $brandingColor6;
  color: $brandingColor2;
}
