.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-width: $minContentWidthPx;
    background-color: $brandingColor2;
    z-index: 999;
}

/**
 * This class is added to the `<html>` and `<body>` elements
 * to stop scrolling of the document's content when a modal is displayed.
 * It does not work on iOS devices because of a known issue.
 */
.modalOpen {
    height: 100%;
    overflow: hidden;
}

/**
 * This class is required to stop scrolling of the document's content on iOS devices.
 * It is added to the `<html>` element when a modal is displayed.
 */
.modalOpenHtml {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw; // Required for Android browsers.
    transform: translateX(-50%);
}

.content {
    position: relative;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
