.navbar {
  @include remImportant('padding-right', 20px);
  @include remImportant('padding-left', 20px);
  background-image: linear-gradient(to left, #667eea 0%, #764ba2 100%);
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: auto;
  height: 40px;
}

.navLink {
  color: $brandingColor1 !important;
  @include menuLinkFont;
}
