$borderWidth: 4px;

.menuNavLink {
    width: 100%;
    @include rem('height', 50px);
    @include rem('padding-top', 7px);
    @include rem('padding-bottom', 7px);
    color: $brandingColor1;
    @include menuLinkFont;
    box-shadow: inset 0 1px 0 0 $brandingColor3;
    text-align: center;
    white-space: nowrap;

    @include tabletBreakpoint {
        width: auto;
        height: auto;
        border-bottom: $borderWidth solid transparent;
        color: $brandingColor8;
        box-shadow: none;
    }

    &:hover {
        color: $brandingColor1;

        @include tabletBreakpoint {
            border-bottom: $borderWidth solid $brandingColor4;
        }
    }
}

.menuNavLink + .menuNavLink {
    @include tabletBreakpoint {
        @include rem('margin-left', 10px);
    }
}

.menuNavLink:first-child {
    @include rem('margin-top', 10px);

    @include tabletBreakpoint {
        margin-top: 0;
    }
}

.menuNavLink:not(:first-child) {
    @include rem('margin-top', 2px);

    @include tabletBreakpoint {
        margin-top: 0;
    }
}

.active {
    & {
        @include tabletBreakpoint {
            border-bottom: $borderWidth solid $brandingColor4;
        }
    }
}

.active.menuNavLink {
    color: $brandingColor1;
}
