.productPreviewContainer {
    @include tabletBreakpoint {
        @include rem('padding-right', 8px);
    }
}

.productPreview {
    @include remValues('padding', 8px, 24px, 8px, 24px);
}

.productTitle {
    @include productTitleFont;
    @include rem('margin-bottom', 16px);
}

.breadcrumbsContainer {
    @include rem('margin-bottom', 24px);
}

.productSubtitle {
    @include rem('padding-left', 12px);
    @include packSubtitleFont;

    &:first-of-type {
        @include rem('margin-top', 48px);
    }

    &:not(first-of-type) {
        @include rem('margin-top', 64px);
    }
}

.productImage {
    width: 100%;
    @include rem('max-width', 600px);
    height: auto;
}

.productDescriptionContainer {
    @include productBlockMargin;
}

.productDescription {
    @include productPadding;
    @include productBlock;
}

.productDescriptionTitle {
    @include rem('margin-bottom', 8px);
    @include productSubtitle;
}

.colorListHeader {
    &:focus {
        outline: 1px solid $brandingColor6;
    }
}

.colorList {
    @include rem('margin-top', 12px);
}

.packPreviewsTitle {
    @include productTitleFont;
    text-align: center;
}

.packPreviewsContainer {
    @include rem('margin-top', 12px);
}

.packPreviewContainer {
    @include rem('padding', 12px);
}

.tooltipContent {
    border-bottom: $emphasisBorder;
}

.errorMessage {
    @include subtitleFont;
    margin-bottom: 0;
}

.tagsContainer {
    @include productBlockMargin;
}

.tags {
    @include productPadding;
    @include productBlock;
}

.sideBar {
    @include productBlockMargin;

    @include tabletBreakpoint {
        @include rem('padding-left', 8px);
        margin-top: 0;
    }
}

.addToCartContainer {
    @include productBlockMargin;

    @include tabletBreakpoint {
        @include rem('padding-left', 8px);
        margin-top: 0;
    }
}

.addToCart {
    @include productPadding;
    @include productBlock;
}

.productInfo {
    @include productPadding;

    @include maxTabletBreakpoint {
        padding-right: 0;
        padding-left: 0;
    }
}

.subtitle {
    @include productSubtitle;
    @include rem('margin-bottom', 12px);
}

.productInfoSubtitle {
    @include productInfoSubtitle;
    @include rem('margin-bottom', 12px);

    & ~ & {
        @include rem('margin-top', 16px);
    }
}

.link {
    @include linkText;
}

.backToTopLinkContainer {
    @include rem('margin-top', 16px);

    a {
        @include linkPadding;
    }
}
