.thumbnailsContainer {
    max-width: 616px;
    padding-top: $imageGalleryThumbnailPaddingPx;
    margin-right: -$imageGalleryThumbnailPaddingPx;
    margin-bottom: -$imageGalleryThumbnailPaddingPx;
}
